/************************************
 * SIGNATURE AND INFO
/************************************/

.signature {
  position: relative;
  width: 260px;

  &::after {
    @extend .abs;
    right: 0;
    height: 1px;
    width: 75%;
    background-color: #ABC89F;
  }

  &__text {
    text-align: right;
    line-height: 1.5;
    margin-bottom: 10px;
    color: rgba(#767676, .85);
  }

  &__link {
    font-weight: bold;
    color: rgba(#767676, .80);
    text-decoration: none;
    font-size: 17px;
    transition: color .15s $easing-out;
  }

  &__name {
    font-size: 13px;
    color: #767676;
    text-decoration: none;
    transition: background-color .2s $easing-in;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 50px;

    &::after {
      width: 100%;
    }

    &__text {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
